<div
  class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform hover:scale-105"
>
  <img
    [src]="'assets/Images/' + profile.imageUrl"
    [alt]="profile.name"
    class="w-full h-96 object-contain hover:cursor-pointer"
  />
  <div class="p-4">
    <h3 class="text-lg font-semibold">{{ profile.name }}</h3>
    <p class="text-gray-500">{{ profile.occupation }}</p>
    <div class="mt-4 ">
      <span class="text-xl font-bold text-gray-900 pr-3">{{ profile.age |currency:'INR': 'symbol' : '1.0-0' }}</span>
      <span class="line-through text-gray-400">{{ profile.price |currency:'INR': 'symbol' : '1.0-0' }}</span>
      <button
      (click)="toggleFavorite()"
      class="focus:outline-none flex items-center justify-center w-10 h-10 float-right"
    >
      <i
        [ngClass]="{
          'fas text-rose-500': isFavorite,
          'far text-red-500': !isFavorite
        }"
        class="fa-heart heart-icon text-2xl"
      ></i>
    </button>
      <button
        class="focus:outline-none flex items-center justify-center w-10 h-10 float-right"
      >
        <i class="fa-solid fa-comment-dots text-blue-400 text-2xl"></i>
      </button>

      <button
        class="focus:outline-none flex items-center justify-center w-10 h-10 float-right"
      >
        <i class="fa-solid fa-share-nodes text-gray-500 text-2xl"></i>
      </button>
    </div>
  </div>
</div>
